@import url('./reset.css');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #111111;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: inherit;
  padding: 0;
}

input {
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  background-color: #f7f9fb;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 53px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #3257a4;
  text-align: center;
  margin-bottom: 60px;
}

.hidden {
  display: none;
  animation-name: hidden-elem;
  animation-duration: 0.3s;
}

.show {
  animation-name: show-elem;
  animation-duration: 0.3s;
}

.rotate-0 {
  position: relative;
}

.rotate-0::after {
  transform: rotate(0deg) !important;
}

.border {
  border: 1px solid #497ae2 !important;
}

/* header */

.header {
  font-size: 14px;
  padding-top: 35px;
  padding-bottom: 29px;
}

.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  position: relative;
}

.header__top-logo-link {
  margin-right: 98px;
}

.header__top-catalog {
  text-transform: uppercase;
  padding-left: 27px;
  position: relative;
  margin-right: 46px;
}

.header__top-catalog::before {
  content: '';
  position: absolute;
  background-image: url('../../public/images/catalog-decor.svg');
  width: 20px;
  height: 20px;
  left: 0;
  top: -1px;
}

.header__top-input-wrapper {
  position: relative;
  max-width: 314px;
  width: 100%;
  margin-right: 56px;
}

.header__top-input-wrapper::before {
  content: '';
  position: absolute;
  background-image: url('../../public/images/loupe.svg');
  width: 13px;
  height: 13px;
  left: 17px;
  top: 8px;
}

.header__top-input {
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0px 0px 3px 0px rgba(50, 87, 164, 0.25);
  padding: 9px 17px 8px 40px;
}

.header__top-input::placeholder {
  color: #111111;
}

.header__top-order-call {
  color: #3257a4;
  filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.25));
  display: inline-block;
  padding-left: 14px;
  border-bottom: 1px solid #3257a4;
  position: relative;
  margin-right: 33px;
}

.header__top-order-call::before {
  content: '';
  position: absolute;
  background-image: url('../../public/images/order-call-decor.svg');
  width: 10px;
  height: 10px;
  left: 0;
}

.header__top-phone {
  margin-right: 33px;
}
.header__top-list {
  display: flex;
  gap: 5px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.nav__list {
  display: flex;
  gap: 30px;
}

.header__bottom-list {
  display: flex;
  align-items: end;
  gap: 30px;
}

.header__bottom-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* promo */
.promo {
  margin-bottom: 118px;
}

.swiperOne {
  border-radius: 45px;
}

.promo__box {
  background-color: #fff;
  display: flex;
  align-items: center;
  min-height: 620px;
}
.promo__box-content {
  padding-left: 76px;
}
.promo__box-img {
  margin-bottom: 30px;
}
.promo__box-title {
  font-size: 28px;
  font-weight: 700;
  max-width: 430px;
  margin-bottom: 11px;
}
.promo__box-subtitle {
  font-size: 18px;
  max-width: 320px;
  margin-bottom: 40px;
}

.promo__box-wrapper {
  display: flex;
  gap: 18px;
}

.btn-wrapper {
  display: flex;
  gap: 13px;
}

.prev,
.next {
  cursor: pointer;
}

.promo__box-link {
  display: inline-block;
  padding: 15px 38px;
  border-radius: 10px;
  color: #ebf4fc;
  background: radial-gradient(circle, rgba(73, 122, 226, 1) 0%, rgba(50, 87, 164, 1) 100%);
  filter: drop-shadow(0px 0px 4px #1a3e8b);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}
.promo__box-image {
  align-self: end;
}

/* Equipment */
.equipment {
  margin-bottom: 60px;
}

.equipment__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 12px;
  margin-bottom: 45px;
}
.equipment__box {
  position: relative;
  min-height: 150px;
  padding: 33px 35px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: inset 0 0 3px rgba(50, 87, 164, 0.25);
  cursor: pointer;
  transition: all 0.3s;
}

.equipment__box:hover {
  /* box-shadow: 0 20px 50px; */
  filter: drop-shadow(0 20px 50px rgba(73, 122, 226, 0.25));
}
.equipment__box--one {
  grid-row-start: 1;
  grid-row-end: 3;
}
.equipment__box-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  max-width: 172px;
}
.equipment__box-a {
  color: #3257a4;
  display: inline-block;
  position: relative;
  padding-right: 13px;
}

.equipment__box-a::after {
  content: '';
  position: absolute;
  background-image: url('../../public/images/arrow-right-decor.png');
  width: 11px;
  height: 11px;
  right: 0;
  top: 2.5px;
}
.equipment__box-img {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 91px;
  max-width: 215px;
}
.equipment__box-img--one {
  max-width: 225px;
}

.equipment__btn {
  display: block;
  color: #3257a4;
  margin-right: 0;
  margin-left: auto;
  padding-right: 14px;
  position: relative;
}

.equipment__btn::after {
  content: '';
  position: absolute;
  background-image: url('../../public/images/arrow-right-decor.png');
  width: 11px;
  height: 11px;
  right: 0;
  transform: rotate(90deg);
  top: 2.5px;
  transition: all 0.3s;
}

/* new-item */

.new__title {
  margin-bottom: 0 !important;
}

.new__swiper {
  position: relative;
}

.swiperTwo {
  padding-top: 60px !important;
  padding-bottom: 105px !important;
}

.new__box {
  min-height: 392px;
  max-width: 285px;
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  box-shadow: inset 0 0 3px rgba(50, 87, 164, 0.25);
}

.new__box:hover {
  filter: drop-shadow(0 20px 50px rgba(73, 122, 226, 0.2));
  /* box-shadow: 0 20px 50px rgba(73, 122, 226, 0.2); */
}

.new__box-img {
  max-width: 285px;
  width: 100%;
  max-height: 206px;
}
.new__box-reviews-wrapper {
  position: absolute;
  top: 14px;
  right: 16px;
}
.nex__box-art {
  color: #355cac;
  font-size: 10px;
  margin-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}
.new__box-title {
  font-size: 14px;
  font-weight: 500;
  max-width: 235px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.new__box-price {
  font-size: 12px;
  color: #c41c1b;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.new__box-wrapper {
  display: flex;
  gap: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  margin-top: auto;
}
.new__box-cart {
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  color: #ebf4fc;
  background: radial-gradient(circle, rgba(73, 122, 226, 1) 0%, rgba(50, 87, 164, 1) 100%);
  padding: 8px 22px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0 0 3px rgba(26, 62, 139, 1));
}
.new__box-buy {
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  color: #3257a4;
  padding: 8px 22px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0 0 3px rgba(26, 62, 139, 1));
}

.new__prev {
  position: absolute;
  top: 188px;
  left: -60px;
  z-index: 1000;
  cursor: pointer;
}
.new__next {
  position: absolute;
  top: 188px;
  z-index: 1000;
  right: -60px;
  cursor: pointer;
}

/* news */

.news {
  margin-bottom: 122px;
}

.news__inner {
  display: flex;
  gap: 30px;
}
.news__box {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 31px 24px 12px 24px;
  box-shadow: 0 0 3px rgba(50, 87, 164, 0.25);
  cursor: pointer;
  transition: all 0.3s;
}

.news__box:hover {
  filter: drop-shadow(0 20px 50px rgba(73, 122, 226, 0.2));
}

.news__box-img {
  max-width: 342px;
  max-height: 118px;
  margin-bottom: 20px;
}
.news__box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.news__box-date {
  font-size: 10px;
  color: #3257a4;
}

.news__box-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}
.news__box-content {
  display: flex;
  justify-content: space-between;
}
.news__box-link {
  font-size: 14px;
  color: #3257a4;
  display: block;
  position: relative;
  padding-right: 14px;
}

.news__box-link::after {
  content: '';
  position: absolute;
  background-image: url('../../public/images/arrow-right-decor.png');
  width: 11px;
  height: 11px;
  right: 0;
  bottom: 0;
}

.news__box-author {
  font-size: 10px;
  color: #c41c1b;
}

/* bread-crumps */
.bread-crumbs {
  margin-bottom: 60px;
}

.bread-crumbs__inner-a {
  position: relative;
  padding-right: 16px;
  margin-right: 7px;
  font-size: 14px;
}

.bread-crumbs__inner-a::after {
  content: '';
  position: absolute;
  background-image: url('../../public/images/bread-crumbs-decor.svg');
  width: 11px;
  height: 11px;
  right: 0;
  top: 4px;
}
.bread-crumbs__inner-a--active {
  color: #3257a4;
}

.bread-crumbs__inner-a--active::after {
  display: none;
}

/* form-wrapper */

.form-wrapper {
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 10px 30px rgba(73, 122, 226, 0.1);
}
.form-wrapper-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 31px 105px 18px 105px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.form-wrapper-title {
  font-size: 24px;
  color: #3257a4;
  font-weight: 500;
  margin-bottom: 18px;
}
.form-wrapper-subtitle {
  font-size: 18px;
}
.form-wrapper-img {
  align-self: center;
}
.form-wrapper-container {
  padding: 0 105px 47px 105px;
}

.order-call__form-politic {
  font-size: 14px;
}

/* callOrderForm */

.order-call {
  margin-bottom: 100px;
}

.order-call__form-wrapper-input {
  display: flex;
  gap: 30px;
  margin-bottom: 21px;
}
.order-call__form-input {
  max-width: 390px;
  width: 100%;
  padding: 20px 27px;
  border-radius: 15px;
  box-shadow: inset 0 0 3px rgba(50, 87, 164, 0.2);
  font-size: 18px;
}

.order-call__form-input::placeholder {
  color: #111111;
}

.order-call__form-textarea {
  display: block;
  max-width: 809px;
  width: 100%;
  min-height: 110px;
  border-radius: 15px;
  resize: none;
  padding: 20px 27px;
  box-shadow: inset 0 0 3px rgba(50, 87, 164, 0.2);
  border: none;
  margin-bottom: 40px;
  font-size: 18px;
}

.order-call__form-textarea::placeholder {
  color: #111111;
}
.order-call__form-btn {
  display: inline-block;
  padding: 15px 38px;
  border-radius: 10px;
  color: #ebf4fc;
  background: radial-gradient(circle, rgba(73, 122, 226, 1) 0%, rgba(50, 87, 164, 1) 100%);
  filter: drop-shadow(0px 0px 4px #1a3e8b);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 18px;
}

/* 404 */
.not-found-title {
  text-align: center;
  margin-top: 175px;
  font-size: 70px;
  font-weight: 500;
  color: #c41c1b;
  margin-bottom: 25px;
}
.not-found-subtitle {
  color: #3257a4;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-bottom: 175px;
}

/* order-success */

.order-success {
  margin-top: 220px;
  margin-bottom: 215px;
}

.order-success-message {
  font-size: 24px;
  color: #3257a4;
  max-width: 413px;
  margin: 0 auto;
  text-align: center;
}

/* register-success */

.register-success {
  margin: 220px 0;
  font-size: 24px;
  color: #3257a4;
  font-weight: 500;
  text-align: center;
}

.register-success-title {
  margin-bottom: 25px;
}

/* login */

.login {
  margin-bottom: 80px;
}

.anonym__content-wrapper {
  display: flex;
  gap: 30px;
}
.anonym__content-left {
  max-width: 390px;
  width: 100%;
}
.anonym__content-input {
  display: block;
  width: 100%;
  box-shadow: 0 0 3px rgba(50, 87, 164, 0.25);
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 15px;
  font-size: 18px;
}

.anonym__content-input::placeholder {
  color: #111;
}

.anonym__content-right {
  max-width: 390px;
  width: 100%;
}

.promo__box-politic {
  font-size: 14px;
  margin-top: 20px;
}

.anonym__content-pass {
  display: flex;
  justify-content: end;
  font-size: 10px;
}

.anonym-link {
  display: flex;
  justify-content: end;
  font-size: 14px;
  color: #3257a4;
  text-decoration: underline;
  font-weight: 500;
}

.place-order {
  margin-bottom: 150px;
}

.auth-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.auth-block__option {
  margin-bottom: 30px;
}

.auth-block__option-label {
  display: flex;
  gap: 10px;
  align-items: start;
}

.auth-block__option-text {
  display: block;
  margin-bottom: 20px;
}

.auth-block__option-text--blue {
  color: #1a3e8b;
}

.auth-block__button {
  max-width: 222px;
  width: 100%;
  padding: 10px 18px;
  margin-bottom: 30px;
}

.auth-block__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #3257a4;
}

.auth-block__input {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 21px 23px;
  box-shadow: inset 0 0 3px rgba(50, 87, 164, 0.25);
  font-size: 18px;
}

.auth-block__input::placeholder {
  color: #111;
}

.auth-block__forgot-password {
  text-align: right;
  font-size: 10px;
  display: block;
  margin-bottom: 20px;
}

.auth-block__agreement {
  font-size: 14px;
}

.place-order-anonym {
  margin-bottom: 100px;
}

/* dilivery */

.dilivery {
  margin-bottom: 90px;
}

.dilivery__title-box {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 35px;
}
.dilivery__title {
  font-size: 18px;
  font-weight: 500;
}

.dilivery__text {
  font-size: 18px;
  margin-bottom: 40px;
}

.dilivery__map {
  margin-bottom: 80px;
}

.map-component {
  border: 2px solid #497ae2;
  border-radius: 20px;
}

/* calculate */

.dilivery__calculate-city {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  flex-direction: column;
  gap: 30px;
}

.dilivery__calculate-params {
  display: flex;
  gap: 50px;
}

.dilivery__calculate-name {
  font-size: 14px;
  margin-bottom: 20px;
}
.dilivery__calculate-panel {
  display: flex;
  width: 86px;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  box-shadow: inset 0 0 3px rgba(50, 87, 164, 0.25);
  border-radius: 5px;
}
.dilivery__panel-btn {
  display: flex;

  align-items: center;
  height: 100%;
  max-width: 25px;
  width: 100%;
  justify-content: center;
}

.calc-err {
  color: red;
}

.calc-message {
  color: green;
}

.loading-calculate {
  display: flex;
  justify-content: center;
}

.dilivery__calculate-input {
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 13px;
  color: #111;
  font-family: inherit;
  box-shadow: inset 0 0 3px rgba(50, 87, 164, 0.25);
}

.calc-wrapper-city {
  max-width: 390px;
  width: 100%;
  position: relative;
}

.chooce-city-input-component {
  position: absolute;
  max-width: 390px;
  width: 100%;
  background-color: aliceblue;
  overflow: auto;
  height: 100px;
  border-radius: 10px;
}

.chooce-city-input-component-elem {
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
}

/* footer */
.footer {
  background-color: #232323;
  color: #fff;
  font-size: 14px;
  padding: 66px 0 37px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__one-img {
  max-width: 139px;
  height: 30px;
  margin-bottom: 28px;
}

.footer__one-list {
  display: flex;
  gap: 6px;
}

.footer__one-item-img {
  width: 21px;
  height: 21px;
}

.footer__two-item {
  margin-bottom: 20px;
}

.footer__three-item {
  margin-bottom: 20px;
}

.footer__right {
  display: flex;
  gap: 45px;
}
.footer__four {
  max-width: 270px;
}

.footer__four-a {
  display: block;
  margin-bottom: 33px;
  padding-left: 15px;
  position: relative;
}

.footer__four-a::before {
  content: '';
  position: absolute;
  background-image: url('../../public/images/phone-footer.svg');
  width: 9px;
  height: 9px;
  left: 0;
}

.footer__five {
  max-width: 285px;
  margin-top: 5px;
}

.footer__five-a {
  display: block;
  margin-bottom: 10px;
}

.footer__wrapper {
  display: flex;
  justify-content: end;
  gap: 12px;
}

/* анимации */

@keyframes hidden-elem {
  from {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes show-elem {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
